
#app{
  .road-page{
    width: 100%;
    padding: 1rem 3rem;
    margin-top: 2rem;
    .road-form{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      width: 100%;
      .road-input{
        margin: 0;
        padding: 0;
      }
      .add-btn{
        width: auto;
        align-self: center;
        margin-left: 5px;
      }
    }
    .btn-action{
      padding: 0;
      background-color: transparent;
      color: #ff4133;
      font-size: 15px;
      font-weight: 500;
      &.red{
        color: rgba(0,5,0,0.5);
      }
    }
  } 
}