@import '../../variables';

#app{
	button.custom-button {
		color: #ffffff;
		background: #b40000;
		font-size: 18px;
		&:hover {
			opacity: 0.8;
		}
		&.disabled {
			background: unset;
		}
		&.outline {
			background: #ffff;
			border: 2px solid $primary-color;
			color: #000000;
			font-weight: 200;
		}
		&.transform {
			transform: scale(0.98);
		}
	}
}


